.footer{
	position: absolute;
	bottom:0px;
    width: 100%;
    height: 100px;
    text-align:center;
    margin-bottom: 15px;
}
.container{
	width:90%;
	text-align:center;
}

.footer img {
    width: 10%;
    margin: auto;
}

#logo{
	width: 30%;
}
#galerie{
	width:110%;
}

.products{
	float:left;
	margin: 2%;
}
.card-body{
	text-align:center;
}
